
.tab-container {
  display: flex;
  width: 80vw;
  margin: 0 auto;
}

.tab {
  flex: 1;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  background-color: #f0f0f0;
}

.tab:hover {
  background-color: #e0e0e0;
}

.tab-content {
  display: none;
  border: 1px solid #ccc;
  padding: 10px;
  width: 80vw;
  margin: 0 auto;
}

.tab-content.active {
  display: block;
}

/*@media screen and (max-width: 428px) {
  .クラス名 {}
}*/


h4{
  text-align: center;
}
img{
  object-fit: cover;
  width: 30vw;
  height: 30vh;
}
@media screen and (max-width: 428px) {
  .img {
    height: 15vh;
    width: 30vw;
    object-fit: cover;
  }
}
.main_on{
  display: flex;
  justify-content: space-around;
}