
.tab-container {
  display: flex;
  width: 80vw;
  margin: 0 auto;
}
@media screen and (max-width: 428px) {
  .tab-container {
    flex-direction: column;
  }
}

.tab {
  flex: 1;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  background-color: #19302A;
  border-radius: 10px 10px 0 0;
}

.tab:hover {
  background-color: #e0e0e0;
}

.tab-content {
  display: none;
  border: 1px solid #ccc;
  padding: 10px;
  width: 80vw;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

.tab-content.active {
  display: block;
}
.tab.active{
  background-color: #ccc;
}

/*@media screen and (max-width: 428px) {
  .クラス名 {}
}*/

/* aspect-ratio
縦横どちらかをあらかじめ指定、その後縦横の比率を指定することでスマホ対応。　横/縦の書き方*/
h4{
  text-align: center;
}

@media screen and (max-width: 428px) {
  .img {
    height: 15vh;
    width: 30vw;
    object-fit: cover;
  }
}

.main_on{
  display: flex;
  justify-content: space-around;
}
.tako_div{
  display: flex;
  padding: 20px;
  margin-top: 10vh;
}
.tako_text{
  padding-left: 10%;
}
span{
  font-weight: bold;
  color: lightseagreen;
  font-size: large;
}
.tako_title{
  font-size: 30px;
  text-align: center;
  color: lightseagreen;
  padding: 10px;
}
.tea_all{
  display: flex;
}
.tea_text{
  font-size: 20px;
  padding: 20px;
  padding-top: 10vh;
}
.takenoko_text{
  padding: 20px;
}

.takenoko_all{
  display: flex;
  padding: 20px;
  margin-top: 50px;
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 80vw;
  height: 80vh;
}

/* モーダルを表示 */
.modal:target {
  display: block;
}
.main_img{
  object-fit: cover;
  width: 30vw;
  height: 30vh;
  border-radius: 10px;
}