.container{
    margin: 0 50px;
    display:flex;
    text-align: center;
    box-sizing: border-box;
    height: calc(100% - 150px);
    flex-flow: row wrap;
    justify-content: center;
}
*{
    margin: 0;
    padding: 0;
}

.img{
    height: 80%;
    object-fit: cover;
    margin: auto;
}

.card{
    border: solid 1px #fff;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    width: 25vw;
    height: 32vh;
    margin: 10px;
}

.card p{
    height: 20%;
    text-align: center;
    color: black;
    background-color: #d9d9d9;
    display: grid;
    place-items: center center;
}

.card p:hover{
    color: #fff;
    background-color: #5ab4bd;
}

