.smashBros h3,.oracle h3,.scrunchie h3,.DJ h3,.ONED h3{
    font-size: 25px;
    line-height: 40px;
    text-decoration: underline;
    text-decoration-color: aqua;
    padding: 10px
}

@media screen and (max-width: 600px) {
    .smashBros h3,.oracle h3,.scrunchie h3,.DJ h3,.ONED h3{
        font-size: 20px;
        padding: 5px;
        text-align: center;
        padding: 5px;
    }
  }

@media screen and (max-width: 600px) {
    h2{
        font-size: 25px;
    }
  }

.smashBros p,.oracle p,.scrunchie p,.DJ p,.ONED p{
    font-size: 30px;
    padding: 5px;
    margin-right: 20px;
}

@media screen and (max-width: 600px) {
    .smashBros p,.oracle p,.scrunchie p,.DJ p,.ONED p{
        font-size: 15px;
        padding: 0;
        margin: 0 10px;
    }
  }

.smashBrosImg{
    float: left;
    height: 65%;
    margin: 15px 60px 0 70px;
}

@media screen and (max-width: 600px) {
    .smashBrosImg {
        float: none;
        text-align: center;
        height: 40%;
        margin: auto;
    }
  }

.oracleImg{
    height: 60%;
    margin: 20px 60px 0 60px;
}

.scrunchieImg{
    height: 65%;
    margin: 15px 60px 0 70px;
}

.DJImg{
    height: 50%;
    margin: 35px 60px 0 60px;
}

.ONEDImg{
    height: 50%;
    margin: 90px 40px 0 40px;
}

.tab_content_description h3{
    margin-top: 15px;
    font-size: 28px;
    text-decoration: underline;
    text-decoration-color: aqua;
    padding: 10px;
}

.tab_content_description h4{
    font-size: 20px;
    line-height: 30px;
    text-decoration: underline;
    text-decoration-color: antiquewhite;
    padding: 8px;
    margin-top: 5px;
}

.tab_content_description p{
    font-size: 25px;
}

.fukuwaraiImg{
    float: left;
    width: 30%;
    margin: 0 40px 0 0;
    padding: 0 10px 30px 10px;
}

.karutaImg{
    float: left;
    width: 40%;
    margin: 0 10px 0 20px;
    padding: 0 10px 30px 20px;
}

.hanetukiImg{
    float: left;
    width: 30%;
    margin: 0 20px 0 0;
    padding: 0 10px 30px 20px;
}

/*タブ切り替え全体のスタイル*/
.tabs {
    width: 90%;
    margin: 0 auto;
}
  
  /*タブのスタイル*/
  .tab_item {
    height: 50px;
    width: 29vw;
    background-color: #19302a;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    display: block;
    float: left;
    font-weight: bold;
    border-radius: 20px 20px 0 0;
  }

  /*タブを中央よせ*/
  .center{
    margin-left: 2.5vw;
  }
  
  .tab_item:hover {
    background-color: #e0e0e0;
  }

  .tab_content{
    background-color:rgba(255, 255, 255, 0.3);
    border-radius: 15px 15px 0 0;
    border: 1px solid #e0e0e0;
    width: 95%;
  }
  
  /*ラジオボタンを全て消す*/
  input[name="tab_item"] {
    display: none;
  }
  
  /*タブ切り替えの中身のスタイル*/
  .tab_content {
    display: none;
    padding: 40px 40px 0;
    clear: both;
    overflow: hidden;
  }
  
  /*選択されているタブのコンテンツのみを表示*/
  #all:checked ~ #all_content,
  #programming:checked ~ #programming_content,
  #design:checked ~ #design_content {
    display: block;
  }